<ion-toolbar color="light">
  <ion-row>
    <ion-col size="2">
      <ion-buttons>
        <ion-menu-button color="dark" menu="first"></ion-menu-button>
        <ion-button routerLink="/perfilseguridad" expand="block" fill="clear" shape="round" color="dark">
          <h5>{{this.nombre}}</h5>
        </ion-button>
      </ion-buttons>
    </ion-col>
    <ion-col size="9">
    </ion-col>
    <ion-col size="1">
      <button class="salida" (click)="salir()">
        <ion-icon name="log-out-outline" color="dark"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-toolbar>

<ion-content id="texto" class="fondo">
  <ion-row>

    
      <ion-col size-md="4" size-lg="6">
        <ion-card class="lacard">
          <ion-text color="primary">
            <h1 class="ion-text-center" class="titulos">Registrar invitado</h1>
          </ion-text>
          <h2>En este apartado podra registrar usuarios del rol invitado por medio de un formulario</h2>
          <div class="ion-text-center">
            <ion-button color="primary" class="ion-margin-top" routerLink="/registroinvitado">
              Registrar
            </ion-button>
          </div>
        </ion-card>
      </ion-col>


      <ion-col size-md="4" size-lg="6">
        <ion-card class="lacard">
          <ion-text color="primary">
            <h1 class="ion-text-center" class="titulos">Listado</h1>
          </ion-text>
          <h2>Encontrara una lista en la cual estan los usuarios con su respectivo registro de entrada y salida</h2>
          <div class="ion-text-center">
            <ion-button color="primary" class="ion-margin-top" routerLink="/listadoseguridad">
              Vista base de datos
            </ion-button>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size-md="4" size-lg="6">
        <ion-card class="lacard">
          <ion-text color="primary">
            <h1 class="ion-text-center" class="titulos">Camara Escaner Entrada</h1>
          </ion-text>
          <h2>En este apartado podra registrar el ingreso de los usuarios por medio del reconocimiento facial</h2>
          <div class="ion-text-center">
            <ion-button color="primary" class="ion-margin-top" routerLink="/camaraescaner">
              Escanear
            </ion-button>
          </div>
        </ion-card>
      </ion-col>

      <ion-col size-md="4" size-lg="6">
        <ion-card class="lacard">
          <ion-text color="primary">
            <h1 class="ion-text-center" class="titulos">Camara Escaner Salida</h1>
          </ion-text>
          <h2>En este apartado podra registrar la salida de los usuarios por medio del reconocimiento facial</h2>
          <div class="ion-text-center">
            <ion-button color="primary" class="ion-margin-top" routerLink="/camaraescanersalida">
              Escanear
            </ion-button>
          </div>
        </ion-card>
      </ion-col>

   

    <ion-col size="12">
      <div class="ion-text-center">
        <h2>En este apartado encontrara el instructivo para entrenar la identificación del reconocimiento facial.</h2>
      </div>
      <ion-row>
        <ion-col size-lg="3" size-sm="0"></ion-col>
        <ion-col size-sm="12" size-md="4" size-lg="6">
          <ion-card class="lacard">
            <ion-card-header>
              <ion-card-title class="ion-text-center"><h1>Frontal</h1></ion-card-title>
              <ion-card-subtitle class="ion-text-center"><h2>Ubicación requerida para la foto</h2></ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <h3>Ubiquese frente a la camara como se muestra en la imagen de ejemplo a continuacion.</h3>
            </ion-card-content>
            <!--imagenuno-->
            <ion-col size="6" class="ion-avatar">
              <img width="250rem" src="../../../../assets/Imagenes/frente.PNG" alt="cara_central"
                style="text-align: center">
            </ion-col>

          </ion-card>
        </ion-col>
        <ion-col size-lg="3" size-sm="0"></ion-col>


        <ion-col size-sm="12" size-md="4" size-lg="3">
          <ion-card class="lacard">
            <ion-card-header>
              <ion-card-title class="ion-text-center">
                <h1>Lateral Izquierdo</h1>
              </ion-card-title>
              <ion-card-subtitle class="ion-text-center">
                <h2>Ubicación requerida para la foto</h2>
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <h3>
                Ubique su lateral izquierdo frente a la camara como se muestra en la imagen de ejemplo a continuacion.
              </h3>
            </ion-card-content>
            <!--imagendos-->
            <ion-col size="12" class="ion-avatar">
              <img width="300rem" src="../../../../assets/Imagenes/costado.PNG" alt="" style="text-align: center">
            </ion-col>
          </ion-card>
        </ion-col>



        <ion-col size-sm="12" size-md="4" size-lg="3">
          <ion-card class="lacard">
            <ion-card-header>
              <ion-card-title class="ion-text-center">
                <h1>Lateral Derecho</h1>
              </ion-card-title>
              <ion-card-subtitle class="ion-text-center">
                <h2>Ubicación requerida para la foto</h2>
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <h3>
                Ubique su lateral derecho frente a la camara como se muestra en la imagen de ejemplo a continuacion.
              </h3>
            </ion-card-content>
            <!--imagentres-->
            <ion-col size="12" class="ion-avatar">
              <img width="300rem" src="../../../../assets/Imagenes/costado2.png" alt="" style="text-align: center">
            </ion-col>
          </ion-card>
        </ion-col>

        <ion-col size-sm="12" size-md="4" size-lg="3">
          <ion-card class="lacard">
            <ion-card-header>
              <ion-card-title class="ion-text-center">
                <h1>3/4 Izquierdo</h1>
              </ion-card-title>
              <ion-card-subtitle class="ion-text-center">
                <h2>Ubicación requerida para la foto</h2>
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <h3>
                Ubique su lado 3/4 izquierdo frente a la camara como se muestra en la imagen de ejemplo a continuacion.
              </h3>
            </ion-card-content>
            <!--imagencuatro-->
            <ion-col size="12" class="ion-avatar">
              <img width="300rem" src="../../../../assets/Imagenes/mujertrescuartos1.PNG" alt=""
                style="text-align: center">
            </ion-col>
          </ion-card>
        </ion-col>


        <ion-col size-sm="12" size-md="4" size-lg="3">
          <ion-card class="lacard">
            <ion-card-header>
              <ion-card-title class="ion-text-center">
                <h1>3/4 Derecho</h1>
              </ion-card-title>
              <ion-card-subtitle class="ion-text-center">
                <h2>Ubicación requerida para la foto</h2>
              </ion-card-subtitle>
            </ion-card-header>

            <ion-card-content>
              <h3>
                Ubique su lado 3/4 derecho frente a la camara como se muestra en la imagen de ejemplo a continuacion.
              </h3>
            </ion-card-content>
            <ion-col size="12" class="ion-avatar">
              <img width="300rem" src="../../../../assets/Imagenes/mujertrescuartos2.png" alt=""
                style="text-align: center">
            </ion-col>
            <!--imagencinco-->
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

  <!--boton para ir a entrenamiento-->
  
    <div class="ion-text-center">
      <h2>Al dar click en el siguiente boton lo redireccionara a una vista para poder ejecutar el entrenamiento.</h2>
    </div>

  
    <ion-col size="6">

        <ion-row class="ion-text-center">
          <ion-col size-lg="5" size-sm=""></ion-col>
        <ion-col size-lg="2" size-md="6" size-sm="12">
          <ion-card color="primary" class="lacard" >
            <button   routerLink="/entrenarmaquina">
              <ion-icon name="camera" class="elicono"  > Siguiente</ion-icon>
            </button>
          </ion-card>
        </ion-col>
        
        <ion-col size-lg="5" size-sm=""></ion-col>
        </ion-row>
        

    </ion-col>
 
</ion-content>