<ion-toolbar color="light">
  <ion-row>
    <ion-col size="2">
      <ion-buttons>
        <ion-menu-button color="dark" menu="first"></ion-menu-button>
          <ion-button routerLink="/perfilseguridad" expand="block" fill="clear" shape="round" color="dark">
          <h5>{{this.nombre}}</h5>
        </ion-button>
      </ion-buttons>
    </ion-col>
    <ion-col size="9">
    </ion-col>
    <ion-col size="1">
      <button class="salida" (click)="salir()">
        <ion-icon name="log-out-outline" color="dark"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-toolbar>

<ion-content class="fondo">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" >
        <ion-card class="lacardone">

          <ion-card-header>
            <ion-text color="primary" class="titulos">
              <h1>REGISTRO</h1>
            </ion-text>
          </ion-card-header>

          <ion-card-content>
            <form [formGroup]="form" errorTailor>
              <ion-item class="form-group">
                <ion-label position="floating">Documento:</ion-label>
                <ion-input class="form-control" formControlName="doc" type="number" placeholder="Documento" name="documento" [(ngModel)]="datos.documento"></ion-input>
              </ion-item>

              <ion-item class="form-group">
                <ion-label position="floating">Nombre:</ion-label>
                <ion-input class="form-control" formControlName="name" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="datos.nombre"></ion-input>
              </ion-item>

              <ion-item class="form-group">
                <ion-label position="floating">Apellido:</ion-label>
                <ion-input class="form-control" formControlName="lastname" type="text" placeholder="Apellido" name="apellido" [(ngModel)]="datos.apellido" ></ion-input>
              </ion-item>

              <ion-item class="form-group">
                <ion-label position="floating">Telefono:</ion-label>
                <ion-input class="form-control" formControlName="phone" type="number" placeholder="Telefono" name="telefono" [(ngModel)]="datos.telefono" ></ion-input>
              </ion-item>

              <ion-item class="form-group">
                <ion-label position="floating">Correo:</ion-label>
                <ion-input class="form-control" formControlName="correo" type="email" placeholder="Correo" name="email" [(ngModel)]="datos.email" ></ion-input>
              </ion-item>

              <ion-item class="form-group">
                <ion-label position="floating">Contraseña:</ion-label>
                <ion-input  class="form-control" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" formControlName="contraseña" type="password" placeholder="Contraseña" [type]="showPassword ? 'text' : 'password' " name="password" [(ngModel)]="password" ></ion-input>
                <ion-icon color="primary" (click)="togglePassword()" slot="end" [name]="passwordToggleIcon" id="verclave"></ion-icon>
              </ion-item>

              <ion-item class="form-group">
                <ion-label position="floating">Confirmar contraseña:</ion-label>
                <ion-input class="form-control" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}" formControlName="confirmarcontraseña" [type]="showPassword ? 'text' : 'password' " type="password" placeholder="Confirmar contraseña" [(ngModel)]="confirmarpassword"></ion-input>
              </ion-item>
                <br>
                
              <ion-row>
                <h4>La Contraseña debe contener un carater en mayuscula, un numero, un carater especial y debe ser de 8 carateres.</h4>
              </ion-row>

            </form>
            <br>
            <div class="ion-text-center">
              <ion-button color="primary"  class="ion-margin-top"  mode="ios" (click)="registrar()">
                Registrar Usuario
              </ion-button>
            </div>

          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
