.salida{
    font-size: 40px;
    background-color: transparent;
}
.elicono{
    font-size: 130px;
}
.lafoto{
    max-width: 125px;
    height: 125px;
    padding: .5em;
    height: 8vh;
    filter: drop-shadow(3px 4px 4px #444);
}

.table{
    width: 100%;
}

.activo{
    text-align: center;
}
.lacard{
    border-radius: 1rem;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.537);
    margin-top: 50px;
}
#documento{
    text-align: center;
}