<ion-toolbar color="light">
  <ion-row>
    <ion-col size="2">
      <ion-buttons>
        <ion-menu-button color="dark" menu="first"></ion-menu-button>
        <ion-button routerLink="/perfilgestor" expand="block" fill="clear" shape="round" color="dark">
          <h5>{{this.nombre}}</h5>
        </ion-button>
      </ion-buttons>
    </ion-col>
    <ion-col size="9">
    </ion-col>
    <ion-col size="1">
      <button class="salida" (click)="salir()">
        <ion-icon name="log-out-outline" color="dark"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-toolbar>


  <ion-content class="fondo">
    <ion-grid>
      <ion-row >
        <ion-col sizeMd="4" offsetMd="4">
          <ion-card class="lacard">
            <ion-card-content >
              <!--Aqui va la imagen-->

              <ion-row>
                <div class="ion-text-center">
                  <div class="row">
                      <ion-col size="6" size-md="4" size-lg="3" *ngIf="previsualizacion">
                       <ion-card
                          style="background-color: rgba(221, 221, 221, 0.707); box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.275); border-radius: 10px;">
                            <ion-card-content style="padding: 0;">
                              <img [src]="previsualizacion" alt="" style="object-fit: cover; height: 60vh;  border-radius: 10px; " id="foto"/> 
                            </ion-card-content>
                        </ion-card>
                      </ion-col>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <input (change)="capturarFoto($event)" type="file" id="boton2">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12">
                      <ion-button type="button" [disabled]="loading" (click)="subirFoto()" color="primary" class="ion-margin-top" id="boton">
                        {{(loading) ? 'Cargando...' : 'Actualizar'}}
                      </ion-button>
                    </div>
                  </div>
                </div>
              </ion-row>
            </ion-card-content>
        </ion-card>
         </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
