.card{
  margin-top: 7%;
  border-radius: 1rem;
}
.eltexto{
  margin-top: 10px;
  text-align: center;
}
.titulos{
  text-align: center;
  font-weight:bold;
  font-size:xx-large;
}
.titulo{
  text-align: center;
  font-weight:bold;
  font-size: 20px;
  margin: 20px;
}
#verclave{
  margin-top: auto;
}
