<ion-content class="fondo">
  <div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <div class="flb">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="Aligner-item Aligner-item--top"></div>
          <img src="../assets/Imagenes/logo.png">
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="ion-text-center" id="boton">
            <h1>Bienvenido a ScanCam</h1>
            <h4>Reconocimiento Facial</h4>
            <ion-button routerLink="/login" color="secondary" class="ion-margin-top" id="boton">
              INGRESAR
            </ion-button>
          </div>
        </div>
      </div>
      <div class="Aligner-item Aligner-item--bottom"></div>
    </div>
  </div>
  </ion-content>
  
  
  
  