<ion-toolbar color="light">
  <ion-row>
    <ion-col size="2">
      <ion-buttons>
        <ion-menu-button color="dark" menu="first"></ion-menu-button>
        <ion-button routerLink="/perfilgestor" expand="block" fill="clear" shape="round" color="dark">
          <h5>{{this.nombre}}</h5>
        </ion-button>
      </ion-buttons>
    </ion-col>
    <ion-col size="9">
    </ion-col>
    <ion-col size="1">
      <button class="salida" (click)="salir()">
        <ion-icon name="log-out-outline" color="dark"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</ion-toolbar>


<ion-content class="fondo">
  <ion-grid>
    <ion-card class="lacard">
      <ion-row>

        <ion-col size-md="4" size="12">
          <ion-col size="6" size-md="4" size-lg="3" *ngIf="this.url">
            <!-- Funcion para recorrer le tabla parqueaderos de la base de datos (Para traer todos los registros de los parqueaderos) -->
            <ion-card
            style="background-color: rgba(221, 221, 221, 0.707); box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.275); border-radius: 10px;">
                <ion-card-content style="padding: 0;">
                  <img [src]="this.url" class="lafoto" alt="" style="object-fit: cover; height: 60vh;  border-radius: 10px; " id="foto"/> 
                </ion-card-content>
            </ion-card>
          </ion-col>

          
          <div class="ion-text-center">
            <ion-button color="primary" class="ion-margin-top" [routerLink]="['/actufotogestor']" >
              Cambiar Foto de Perfil
            </ion-button>
          </div>
          
          <div class="ion-text-center">
            <ion-button color="primary" class="ion-margin-top" [routerLink]="['/actufoto']" >
              Actualizar Certificado
            </ion-button>
          </div>
          

        </ion-col>
        <ion-col size-md="8" size="12">
          <ion-item class="ion-margin-vertical">
            <ion-label position="floating"><ion-icon name="person-circle-outline" color="primary"></ion-icon> Nombre:</ion-label>
            <h5>{{this.nombre}}</h5>
          </ion-item>

          <ion-item>
            <ion-label position="floating"> <ion-icon name="mail-outline" color="primary"></ion-icon> Correo:</ion-label>
            <h5>{{this.correo}}</h5>
          </ion-item>

          <ion-item>
            <ion-label position="floating"><ion-icon name="call-outline" color="primary"></ion-icon> Telefono:</ion-label>
            <h5>{{this.telefono}}</h5>
          </ion-item>

          <ion-item class="ion-margin-vertical">
            <ion-label position="floating"><ion-icon name="document-text-outline" color="primary" ></ion-icon> Documento:</ion-label>
            <h5>{{this.documento}}</h5>
          </ion-item>

          <ion-item class="ion-margin-vertical">
            <ion-label position="floating"><ion-icon name="layers-outline" color="primary"></ion-icon>  Rol:</ion-label>
            <h5>{{this.role}}</h5>
          </ion-item>

          <div class="ion-text-center">
            <ion-button color="primary" class="ion-margin-top" [routerLink]="['/forgot-password']" >
              Cambiar Contraseña
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
         
    </ion-card>
  </ion-grid>
</ion-content>
